.main-nav__toggle {
  ::before {
    content: "";
    background-image: url(/source/img/icon/burger.svg);
    width: 50px;
    height: 24px;
    position: absolute;
    z-index: 2;
    top: 21px;
    right: 20px;
  }

  // ::after {
  //   content: "";
  //   background-image: url(/source/img/icon/close-menu.svg);
  //   width: 23px;
  //   height: 23px;
  //   position: absolute;
  //   z-index: 2;
  //   top: 23px;
  //   right: 20px;
  // }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.button {
  display: block;
  border: 0;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button--rounded {
  padding: 15px;
  border: 3px solid $color-white;
  border-radius: 29px;
  line-height: 18px;
  background-color: transparent;
  color: $color-white;
  @media (max-width: $mobile-width-only) {
    max-width: 280px;
    margin: 0 auto;
  }
  @media (min-width: $tablet-width) {
    width: 300px;
    justify-content: flex-start;
  }
}

.slider__toggle-button {
  width: 6px;
  height: 6px;
  margin: 0;
  padding: 0;
  background-color: $color-gray-100;
  opacity: 0.3;
  border: 0;
  border-radius: 50%;
  cursor: pointer;    
}

.slider__toggle-button:not(:last-of-type) {
  margin-right: 19px;
}

.slider__toggle-button--current {
  box-shadow: 0 0 0 3px $color-gray-100;
  background-color: transparent;
  cursor: default;
  opacity: 1;
}