.page-header {
  @media (max-width: $mobile-width-only) {
    position: relative;

    background-image: url("/source/img/background/background-hand.jpg");
    background-color: $color-gray-100;
    background-position: 50% 0;
    background-size: auto;
    background-repeat: no-repeat;
    color: $color-white;  
  }
  @media (min-width: $tablet-width) {
    background-image: url("/source/img/background/back-desktop.jpg");
    background-position: 50% 0;
    background-color: $color-gray-100;
    background-size: auto;
    background-repeat: no-repeat;
    color: $color-white;
    margin-bottom: 77px;
  }
}

.page-header__nav {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    min-height: 462px;
  }
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    // width: 620px;
      }

  @media (min-width: $desktop-width-only) {
    display: grid;
    grid-template-columns: 147px 1fr;
    gap: 170px;
    width: 940px;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__bar { 
  padding: 21px 20px;
  display: flex;
  justify-content: space-between;
  
  @media (max-width: $mobile-width-only) {
    position: relative;
    min-width: 320px;
    margin: 0;    
    padding: 21px 20px;
  }  
}

.page-header__logo {
  position: relative;
  display: block;
}

.header-logo__image--mobile {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header-logo__image--tablet {
  @media (max-width: $tablet-width) {
    display: none;
  }
  @media (min-width: $desktop-width-only) {
    display: none;
  }
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: block;
  }
}

.header-logo__image--desktop {
  @media (max-width: $desktop-width) {
    display: none;
  }
  @media (min-width: $desktop-width-only) {
    display: block;
  }
}

